<!-- <footer class= "container-fluid" id= "lockup"> -->
<footer class = "footer">
  <p> Nico Daleman © {{ site.time | date: '%Y' }} All rights reserved</p>
    <ul class="social-list">
      <li class="social-list-item" ><a href="https://github.com/nicodaleman" class="fa fa-github"></a></li>
      <li class="social-list-item" ><a href="https://www.facebook.com/ndaleman" class="fa fa-facebook"></a></li>
      <li class="social-list-item" ><a href="https://www.instagram.com/nicodaleman" class="fa fa-instagram"></a></li>
      <li class="social-list-item" ><a href="https://soundcloud.com/nicodaleman" class="fa fa-soundcloud"></a></li>
      <li class="social-list-item" ><a href="https://vimeo.com/nicodaleman" class="fa fa-vimeo"></a></li>
    </ul>
</footer>
