<!-- <footer class= "container-fluid" id= "lockup"> -->
<footer>
  <div class="row">
    <p class="col-sm-4"> Nico Daleman © {{ site.time | date: '%Y' }} All rights reserved</p>
    <ul class="social-icons icon-flat list-unstyled list-inline col-sm-8" style="list-style: none" id="social">
      <li class="col-md-1 col-md-offset-7"><a href="https://github.com/nicodaleman/Max-Portfolio" class="fa fa-github"></a></li>
      <li class="col-sm-1 "><a href="https://www.facebook.com/ndaleman" class="fa fa-facebook"></a></li>
      <li class="col-sm-1"><a href="https://www.instagram.com/nicodaleman/" class="fa fa-instagram"></a></li>
      <li class="col-sm-1"><a href="https://soundcloud.com/nicodaleman" class="fa fa-soundcloud"></a></li>        <li class="col-sm-1"><a href="https://vimeo.com/nicodaleman" class="fa fa-vimeo"></a></li>
    </ul>
  </div>
</footer>
