<header class="header">
  <div class="logo">
    <a href="../index.html">Nico Daleman</a>
    <p>Sound Artist - Musicologist</p>
  </div>

  <button class="nav-toggle" aria-label="toggle navigation">
      <span class="hamburger"></span>
  </button>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item" ><a href="../#home" class="nav-link">Home</a></li>
      <li class="nav-item" ><a href="../#works" class="nav-link">Works</a></li>
      <li class="nav-item" ><a href="../radio.html" class="nav-link">Radio</a></li>
      <li class="nav-item" ><a href="../texts.html" class="nav-link">Texts</a></li>
      <li class="nav-item" ><a href="../about.html" class="nav-link">About</a></li>
    </ul>
  </nav>
</header>

<script src = "../assets/js/index.js">
</script>
