
<nav class="navbar fixed-top navbar-expand-lg">
  <a class="navbar-brand" href="index.html">Nico Daleman</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-item nav-link" href="index.html">Home</a></li>
          <li><a class="nav-item nav-link"href="index.html">Works</a></li>
          <li><a class="nav-item nav-link" href=radio.html>Radio</a></li>
          <li><a class="nav-item nav-link" href=devices.html>Patches</a></li>
          <li><a class="nav-item nav-link" href=about.html>About</a></li>
        </ul>
  </div>

</nav>
