*,
*::before
*::after{
  box-sizing: border-box;
}

:root{
     --ff-primary: 'Catamaran', sans-serif;
    /* --ff-secondary: 'Source Code Pro', monospace;  */

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #f7f7f7; /*White*/
    --clr-dark: #333; /*Black*/
    --clr-mid: #AAAAAA; /*Light Grey*/
    --clr-accent: #7F0000; /*Redish*/

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
/*
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
} */

/* General Styling */

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body{
  background: #333; /*var(--clr-light);*/
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}


section {
  padding: 1em 1em
}

img {
    display: block;
    max-width: 100%;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

img:hover {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
}


/* Typography */

h1, h2, h3 {
  color: var(--clr-mid);
  line-height: 1.1;
  text-align: center;
  text-decoration:none;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

li{
  text-decoration: none;
  list-style-type: none;
  text-align: left;
}

p{
  color: #333; /*Black*/
  text-align: left;
  font-size: var(--fs-body);
}
a{
   text-decoration: none;
   color: #AAAAAA;
   font-size: var(--fs-body);
}
a:hover {
  text-decoration: none;
  color: var(--clr-accent)
}

.section__title {
    margin-bottom: .25em;
}

/* .section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
} */

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

/* .section__subtitle--intro, */
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header*/

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo{
  max-width: 600px;
}

.logo a{
  font-size: var(--fs-h3);
}

.logo p{
  margin: 0;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);

}
.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 50px;
}

.nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav--link:hover {
    color: var(--clr-mid);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%);
    opacity: 0.9;
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/*About*/

.about-section{
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "title"
      "body img";
}

.about-section-img {
    box-shadow: var(--bs);
    max-width: 60%;
}

@media (min-width: 600px) {
    .about-section {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
          "title title"
          "body img"
          "body img";
        grid-column-gap: 2em;
    }

    .section-title--about {
        grid-area: title;
    }

    .about-section-img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
    .about-section-body{
      grid-area: body;
    }
}

/* Works */

.works {
  background-color: var(--clr-light);
}

.portfolio{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 1250px;
  margin: 0 auto;
}

.portfolio-item {
    position: relative;
    background: var(--clr-light);
    width: 100%;
    overflow: hidden;
}

.portfolio-item-img {
  position: realtive;
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.works-title {
  text-align: center;
  visibility: visible;
  width:100%;
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--clr-dark);
  opacity: 0;
  font-size: var(--fs-h3);
 }

 .portfolio-item:focus {
    position: relative;
    z-index: 2;
}

.portfolio-item-img:hover,
.portfolio-item-img:focus .portfolio-item-img
 {
    transform: scale(1.2);
    opacity: 0.2;
}

.portfolio-item:hover .works-title {
   opacity: 1;
   visibility: visible;
 }

/* Individual Works */

.work-content{
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 2em 2em;
  min-height: calc(100vh - 125px);
  align-content: center;
}

.work-img{
  padding: 1em;
  align-content: center;
  margin: 0 auto;

}

/*radio*/

.radio-section{
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "title"
      "body img"
      "body img";
}

/* .radio-img{
  padding: 1em;
  align-content: center;
  margin: 0 auto;
  max-width: 60%;

} */

@media (min-width: 600px) {
    .radio-section {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
          "title title"
          "body img"
          "body img";
        grid-column-gap: 1em;
    }

    .radio-section-img {
        grid-area: img;
        position: relative;
        z-index: 2;
        padding: 1em;
        align-content: center;
        margin: 0 auto;
         /* max-width: 60%; */
    }
    .radio-section-body{
      grid-area: body;
    }
}

/* footer */


 .footer {
   color: var(--clr-mid);
   background-color: var(--clr-dark);
   text-align: center;
   padding: 0.5em 0;
   font-size: var(--fs-h3);
   max-height: 150px;
 }

 .footer p {
    color: var(--clr-light)
    margin-top: 0.5em;
    text-align: center;
 }

 .footer a {
     color: inherit;
     text-decoration: none;
     text-align: center;
 }

 .footer__link {
     font-weight: var(--fw-bold);
 }

 .footer__link:hover,
 .social-list__link:hover {
     opacity: .7;
 }

 .footer__link:hover {
     text-decoration: underline;
 }

 .social-list {
     list-style: none;
     display: flex;
     justify-content: center;
     margin: 0.5em 0 0;
     padding: 0;
 }

 .social-list-item {
     margin: 0.5em;
 }

 .social-list-link {
     padding: 0.5em;
 }

/*Social media stuff*/

/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: right;
  text decoration: none;
	color: #AAA;
  font-size: 1.8em;
}

.social-icons .fa:hover, {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333;
  text-decoration: none;
}
