<!doctype html>
<html>

  {% include headworks.html %}

  <body>
    <div id= "wrapper">
    {% include navbarworks.html %}

      <div class="container" id="Works">
        <div class="row">
          <h1> {{ page.title }} </h1>
        </div>
      </div>

      <!-- <div class = "col-lg-8 col-md-8 col-sm-8 col-xs-8"> -->

      <!-- <audio></audio>
      embeed soundcloud -->

      <!-- <div class="container" id="works-description">
        <p>Lorem ipsum dolor sit amet, epicurei accusata et nec. Verear aeterno viderer per ex, ad viderer malorum eos. Tation omnium dolorum mel an. Porro summo nominati pri no, mnesarchum deterruisset his no. Ea populo consequat vix, an similique disputando interpretaris duo.</p>
        <p>Est eu nisl gubergren. In tota clita urbanitas mei. Vim an tantas utroque invenire. Ne magna laudem eum, ea quem munere nec, tale dolor fierent vel in. No mel melius comprehensam.</p>
        <p>Veri solet sed at, id mel consul utamur intellegebat. Quot viris dicant et duo. Solet persius lucilius sit ne, vel te facer exerci detracto. Alii impedit graecis sit in.</p>
        <p>Sed sumo imperdiet sententiae te. Ad tota cotidieque per, atomorum suavitate voluptaria ad nam. Nisl moderatius accommodare cu eam, sanctus persequeris his in. Ludus suavitate disputando cum ne, pro minim scaevola eu. Ne ius dictas recusabo assentior. Ad mea clita accusata consetetur, id eum tantas menandri, eros evertitur vis at. Ne iudico consul inermis eam.</p>
        <p>Brute consulatu ad ius, ei ancillae intellegam cum, est labore omittantur et. Eu qui malis assueverit, munere labores accusam ius no. Putant labitur ius ei, dolore commodo comprehensam ei pri. Erant virtute propriae ad mei.</p>
      </div> -->

      {{ content }}

    <!-- </div> -->

    {% include footer.html %}
  </div>

  </body>

</html>
